<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans JP', sans-serif;
            margin: 0;
            font-size: 100%;
            background-color: #eee;
        }
    </style>
    <title>Cinema Records</title>
</head>

<body>
    <div id="app"></div>
</body>

<script type="text/javascript" src="app.js?_<%- new Date().getTime() %>"></script>

</html>